body{
    background-image: url("background.jpg");
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}
#app{
    display: grid;
    /* grid-auto-rows: minmax(150px, auto); */
    /* grid-template-columns:  */
    height: 25vh;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin-top: 2vh;
}
.holder{
    display: block;
    margin: auto;
    }
   
h1{
    font-size: 36px;
     color: #2d6ce2
}
/* .headline {      
} */
label{
    display:block;
    font-size: 20px;
    color: #2d6ce2
}
input{
    display:block;
    height: 60px;
    width: 320px;
    background-color: #bcdde2;
    color:black;
    font-size: 18px;
    opacity: 0.7;  
    border:black;
    font-family: 'Oswald', sans-serif;  
}
.feel{
    display: block;
    margin: 0%;
}
textarea{
    height: 60px;
    width: 320px;
    max-width: 320px;
    background:#bcdde2;
    color:black;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 5px;
    opacity: 0.7;
    border:rgb(255, 255, 255);
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #b3b7da; 
    font-family: 'Oswald', sans-serif;
} 
.bt{
    width: 100px;
    height: 50px;
    display: block;
    margin:auto
}
button{
    background: #3b4a6b;
    color: #cbdddd;
    font-size: 26px;
    font-family: 'Oswald', sans-serif;
    border: none;
    box-shadow: 2px 4px 5px #444;
    margin: 0;
}
button:hover {
    transform: scale(1.1);
}
.entry{
    background: rgba(16, 96, 245, 0.4);
    height: 180px;
    width: 320px;
}
.title{
    color: #1049b4;
    justify-content: center;
    display: flex;
}
/* #entryHolder{
}
#date{
}
#temp{
}
#content{
}
.title{
} */







